/*  your css code here. If applicable */
#animal-photos{
    background-color: rgb(59, 58, 58);
    border: groove 10px;
    /* padding: 3px; */

}
#animal-photos img{
    width: 150px;
    border-radius: 10px;
    padding: 2px;
    
}
#photo-heading{
    text-align: center;
    color: white;
}
